#finalCanvas {
    background: #fff;
}

#animationCanvas {
    position: absolute;
    background: transparent;
}

#finalCanvas,
#animationCanvas {
  border-radius: 5px;
  border: 1px solid $primary;
}
