
body {
    // background-color: darkcyan !important;
    min-height: calc(100vh - 30px);
    position: relative;
}

.btn-primary {
    background-color: $tertiary !important;
    color: $primary !important;
}

.btn-outline-primary {
    border: 1px solid $primary !important;
}